<div class="container-fullwidth">
<nav class="navbar navbar-default" id="nav">
    <div class="col-md-1">
    <a class="navbar-item">
      <img src="../../assets/image/machineLearning.png">
    </a>
  </div>
    <div class="col-md-11">
      <ul>
        <li routerLinkActive="activeNav"
            [routerLinkActiveOptions]= {exact:true}
          ><a routerLink="/" class="navbar-item">
          ML Platform
        </a></li>
        <li routerLinkActive="activeNav"><a routerLink="/configurator"class="navbar-item">
          ML Pipeline Configurator
        </a></li>
        <li routerLinkActive="activeNav"><a routerLink="/deployment" class="navbar-item">
          Deployment Management</a>
        </li>
      </ul>
    </div>
</nav>
</div>
