<div class="col-md-12">
    <label class="col-md-2">
        <app-search></app-search>
    </label>
    <label>
      <div class="pull-left">
          <label > <strong style="text-align: center">Search by Keyword:</strong></label>&nbsp;&nbsp;
              <input class="searchInput" matInput (keyup)="applyFilter($event.target.value)" style="background-color: lightgrey">
      </div>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
          
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description  </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="dimension">
              <th mat-header-cell *matHeaderCellDef> Dimension </th>
              <td mat-cell *matCellDef="let element"> {{element.dimension}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="format">
              <th mat-header-cell *matHeaderCellDef> Format </th>
              <td mat-cell *matCellDef="let element"> {{element.format}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
          </table>
          
    </label>
</div>
